mixin button(title, type="button", href)
    - var classes = ["button", attributes.class]
    if (type === "a")
        a(href= href   class=["button button_no-bg",attributes.class])= title
    else
        button(class=["button", attributes.class])= title

+button(text, type, href)(class=className)
