.profile
    != backButton
    .profile__wrap
        .profile-avatar
            .overlay
            img(src=avatarHref, alt="avatar")
            .middle
                span.text Поменять #[br] аватар
        !=Form