:root {
    --primary-color: #3369F3;
    --light-blue: #E4EDFD;
    --white-color: #ffffff;
    --gray-color-100: #EAEAEA;
    --gray-color-200: #F8F8F8;
    --gray-color-300: #FBFBFB;
    --gray-color-400: #EFEFEF;
    --black-color: #1E1E1E;
    --gray-color: #999999;
    --danger-color: #FF0000;

}