.form-group  {
    * {
        display: block;
        text-align: left;
        margin-bottom: 13px;
    }
  

  label {
    font-size: 9px;
    color: var(--gray-color);
    margin-bottom: 8px;
  }

  input {
    border: 0;
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 6px;

    &:focus {
        outline: none;
    }
  }

}
