extends ../layout/profile

include ../components/button

block profile
    form
        .profile-list
            .profile-item
                label.profile-item__title Старый пароль
                input.profile-item__desc(type="password" value="1234")
            .profile-item
                label.profile-item__title Новый пароль
                input.profile-item__desc(type="password" value="1234")
            .profile-item
                label.profile-item__title Повторите новый пароль пароль
                input.profile-item__desc(type="password" value="1234")
        +button('Сохранить')(class="profile__button" type="submit")