extends ../layout/main

block content
    ul
        li
            a(href="profile.pug") Profile
        li
            a(href="login.pug") Login
        li
            a(href="signin.pug") Sign in
        li
            a(href="404.pug") 404
        li
            a(href="500.pug") 500