extends ../layout/main

include ../components/button
include ../components/form_group

block content
    div.login-wrapper
        h1.login-title Вход
        form
            +form_group("login", "Логин", "text")
            +form_group("password", "Пароль", "password")
        +button('Авторизоваться')
        +button('Нет аккаунта?', 'a', 'signin.pug')(class='login-wrapper__button')
