extends ../layout/profile

include ../components/button

block profile
    h1.profile__title= user["first_name"]
    dl.profile-list
        each val, key in user
            .profile-item
                dt.profile-item__title= inputs[key]["label"]
                dd.profile-item__desc= val
    
    +button("Изменить данные", "a", "change_profile.pug")(class="button_no-bg profile-item")
    +button("Изменить пароль", "a", "change_password.pug")(class="button_no-bg profile-item")
    +button("Выйти", "a")(class="button_danger profile-item")
