extends ../layout/main

include ../components/button
include ../components/form_group

block content
    div.login-wrapper
        h1.login-title Регистрация
        form
            +form_group("email","Почта","email")
            +form_group("login", "Логин", "text")
            +form_group("first_name", "Имя", "text")
            +form_group("second_name", "Фамилия", "text")
            +form_group("phone", "Телефон", "tel")
            +form_group("password", "Пароль", "password")
            +form_group("confirm_password", "Пароль (ещё раз)", "password")
        +button('Зарегистрироваться')
        +button('Войти', 'a', "login.pug")(class="login-wrapper__button")
