


div.login-wrapper
    h1.login-title Регистрация
    form
        !=InputEmail
        !=InputLogin
        !=InputFirstName
        !=InputSecondName
        !=InputPhone
        !=InputPassword
        !=InputConfirmPassword
    !=SigninButton
    !=EnterButton
