
ul
    li
        a(href="/profile") Profile
    li
        a(href="/change_password") Change password
    li
        a(href="/change_profile") Change profile
    li
        a(href="/login") Login
    li
        a(href="/signin") Sign in
    li
        a(href="/404") 404
    li
        a(href="/500") 500